<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="OutputDir" value="C:\Certs"/>
    <add key="DefaultKeyVaultUrl" value="https://indexkeyvault.vault.azure.net/" />
    <add key="DefaultAdClientId" value="0ad5507e-11e7-4cf6-8c79-a570e8bb0b49" />
    <add key="DefaultAdClientSecret" value="tEapdZQw14guzSa+43KS1LYnEGexZemLBiDghIp5K/c=" />
  </appSettings>
</configuration>
